html{
  scroll-behavior: smooth;
}
body {
  background: rgb(119,13,191);
background: linear-gradient(153deg, rgba(119,13,191,1) 7%, rgba(29,173,253,1) 50%, rgba(69,88,252,1) 72%);
background-size: 300%;
animation: 10s gradient ease infinite;
height: 300vh;



}



@keyframes gradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.monsite{
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  text-shadow: 1px 1px white;
}
.projets {
  font-family: 'Architects Daughter', cursive;
  font-size: 70px;
  text-shadow: 4px 4px black;
  color: white;
  line-height: 1;


}
.line3{
  background:black;
  height:1px;
  box-shadow:3px 3px 10px white;
}


.Line1{
  background: white;
   height: 1px;
   box-shadow:4px 4px 5px;
}
.Line2{
  background:white;
  height:1px;
  box-shadow:4px 4px 5px;
}
.main-table {
  width: 93vw;
  margin: auto;
}

.site, .trip, .poem {
  width: 33%;
  text-align: center;
}

.site {
  text-align: left;
}

.poem {
  text-align: right;
}
.main-table a {
color: white;
font-size: 28;
text-decoration: none;
font-family: 'Architects Daughter', cursive;
text-shadow: 1px 1px black;

}
.main-table a:hover {
  text-decoration: underline;
}
.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex1, .flex2 {
    flex: 1;
width: 100px;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
}



.point {
  height: 350px;
  transition: 0.55s;
  box-shadow: 13px 13px 10px black;
  position: relative;
  right: 0;
  bottom: 0;
}
.point:hover{
  position:relative;
  right: 20px;
  bottom: 20px;
}

.flex-box{
    margin-right: 20px;
}
.div3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex4, .flex5, .flex6{
  flex: 1;
  text-align: center;
  width:100px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;


}
.projects-img {
  height: 250px;
  box-shadow: 10px 10px 10px black;
  position: relative;
  transition: 0.55s;
  right: 0;
  bottom:0;
}
@media screen and (max-width: 1100px){
  .projects-img{
    width: 70%;
    height: 70%;
  }


}


.projects-img:hover{
  position:relative;
  right: 20px;
  bottom: 20px;
}
.flox{
  height:1%;

}
.rep{
  box-shadow:3px 3px 4px black;
  background: #d0d2dc;
  padding: 0 40px;

}
.rap{
  box-shadow:3px 3px 4px black;
  background: #d0d2dc;
  padding: 0 30px;
}
.rop{
  box-shadow:3px 3px 10px black;
  background: #d0d2dc;
  padding: 0 40px;
}
.rep, .rap,.rop{
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  border-radius: 5px;
}
.moi{
  border-radius: 50%;
  height: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative;
  top: 85px;
  box-shadow: 4px 4px 10px;
  transition: 0.7s;
}
.moi:hover{
  position:relative;
  top: 78px;
  height: 300px;
}
.Byography-name{
  font-family: 'Architects Daughter', cursive;
  border-radius: 50%;
  text-align:center;
  position: relative;
  top:100px;
  width:230px;
  margin:auto;
  padding: 5px;
  text-shadow: 1px 1px white;

}
.bio-text{
  font-family: cursive;
  border-radius: 100%;
  background: rgb(120,129,172);
background: radial-gradient(circle, rgba(120,129,172,1) 0%, rgba(0,0,0,1) 100%);
  text-align:center;
  align-items: center;
  position: relative;
  top:140px;
  margin:auto;
  padding: auto;
  color: white;
  height: 220px;
  width: 420px;
  box-shadow: 5px 5px 10px black;
}
.table-languages {
  border: 5px solid black;
  box-shadow: 3px 3px 10px black;
  position:relative;
  top: 400px;
  background: rgb(120,129,172);
background: radial-gradient(circle, rgba(120,129,172,1) 0%, rgba(0,0,0,1) 100%);
  margin: auto;
  border-collapse: collapse;
  width: 35vw;
  height: 5vw;
  transition:0.55s;
}
.table-languages:hover{
  width: 40vw;
  height: 10vw;
}

.level1 {
font-size: 25px;
font-family:'Architects Daughter', cursive;
font-weight: bold;
color: white;
text-shadow: 2px 2px 2px black;
}
.level {
  border: 3px solid black;
  font-family:'Architects Daughter', cursive;
  text-decoration: underline;
  font-size:22px;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.Javas, .htmls, .csss, .javaa, .pythons {
  text-align:center;
  border: 2px solid black;
   font-family:'Architects Daughter', cursive;
 font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px black;
}
.proj-btn {
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align:center;
  min-height:100vh;
}

.btn-1{
  font-weight: bold;
  font-family:'Architects Daughter', cursive;
  box-shadow: 5px 5px 10px black;
  width:200px;
  height: 50px;
  border:none;
  color: white;
  border-radius: 20px;
  font-size: 22px;
  outline: none;
  position: relative;
  z-index:1;
   background: rgb(120,129,172);
background: radial-gradient(circle, rgba(120,129,172,1) 0%, rgba(0,0,0,1) 100%);
}
.btn-1:hover{
  color: white;
  cursor: pointer;
}
.btn-1:before{
  transition: 0.5s all ease;
  position: absolute;
  top:0;
  left: 50%;
  right: 50%;
  bottom:0;
  opacity:0;
  content:"";
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(17,37,77,1) 35%, rgba(0,212,255,1) 100%);
}

.btn-1:hover:before{
  transition: 0.5s all ease;
  left:0;
  right:0;
  opacity: 1;
  z-index:-1;
  border-radius: 20px;
}

.btn-2{
  font-weight: bold;
  font-family:'Architects Daughter', cursive;
  box-shadow: 5px 5px 10px black;
   width:200px;
  height: 50px;
  border:none;
  color: white;
  border-radius: 20px;
  font-size: 22px;
  outline: none;
  position: relative;
  z-index:1;
   background: rgb(120,129,172);
background: radial-gradient(circle, rgba(120,129,172,1) 0%, rgba(0,0,0,1) 100%);
}
.btn-2:hover{
  color: white;
  cursor: pointer;
}
.btn-2:before{
  transition: 0.5s all ease;
  position: absolute;
  top:0;
  left: 50%;
  right: 50%;
  bottom:0;
  opacity:0;
  content:"";
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(17,37,77,1) 35%, rgba(0,212,255,1) 100%);
}

.btn-2:hover:before{
  transition: 0.5s all ease;
  left:0;
  right:0;
  opacity: 1;
  z-index:-1;
  border-radius: 20px;
}
.home-pic {
  width: 99%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 5px 5px 10px black;
}

.divpic {
  position: relative;
}
.toxt {
  Transition: 1s;
  position: absolute;
  top: 0;
  z-index:2;
  background-color: white;
  border-radius:5px;
  box-shadow: 5px 5px 10px black;
  margin-left: 240px;
  margin-top: 300px;
  line-height: 1px;
  font-family:'Architects Daughter', cursive;
  padding: 10px;
  height: 200px;
}

.taxt {
  line-height: 22px;
}
.btn-3{
  font-weight: bold;
  font-family:'Architects Daughter', cursive;
  box-shadow: 5px 5px 10px black;
  width:150px;
  height: 50px;
  border:none;
  color: black;
  font-weight:bold;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  position: relative;
  top:50px;
  z-index:1;
  background: rgb(173,173,179);
background: radial-gradient(circle, rgba(173,173,179,1) 35%, rgba(196,197,199,1) 47%, rgba(255,255,255,1) 100%);
}
.btn-3:hover{
  color: white;
  cursor: pointer;
}
.btn-3:before{
  transition: 0.5s all ease;
  position: absolute;
  top:0;
  left: 50%;
  right: 50%;
  bottom:0;
  opacity:0;
  content:"";
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(17,37,77,1) 35%, rgba(0,212,255,1) 100%);
}

.btn-3:hover:before{
  transition: 0.5s all ease;
  left:0;
  right:0;
  opacity: 1;
  z-index:-1;
  border-radius: 20px;
}

.btn-4{
  font-weight: bold;
  font-family:'Architects Daughter', cursive;
  box-shadow: 5px 5px 10px black;
   width:150px;
  height: 50px;
  border:none;
  color: black;
  font-weight:bold;
  border-radius: 20px;
  font-size: 16px;
  outline: none;
  position: relative;
  top:50px;
  z-index:1;
   background: rgb(173,173,179);
background: radial-gradient(circle, rgba(173,173,179,1) 35%, rgba(196,197,199,1) 47%, rgba(255,255,255,1) 100%);
}
.btn-4:hover{
  color: white;
  cursor: pointer;
}
.btn-4:before{
  transition: 0.5s all ease;
  position: absolute;
  top:0;
  left: 50%;
  right: 50%;
  bottom:0;
  opacity:0;
  content:"";
  background: rgb(2,0,36);
background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(17,37,77,1) 35%, rgba(0,212,255,1) 100%);
}

.btn-4:hover:before{
  transition: 0.5s all ease;
  left:0;
  right:0;
  opacity: 1;
  z-index:-1;
  border-radius: 20px;
  
    
  }
.btm-btns{
  position: relative;
  top:20px;
}
.line4{
  background:black;
  height:1px;
  box-shadow:3px 3px 10px white;
  position: relative;
  top:250px;
}
.div4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex7, .flex8, .flex9{
  flex: 1;
  text-align: center;
  width:100px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  


}
.liens-src {
  height: 250px;
  box-shadow: 10px 10px 10px black;
  position: relative;
  transition: 0.55s;
  top: 250px;
  right: 0;
  bottom:0;
}
.liens-src:hover{
  position:relative;
  right: 20px;
  bottom: 20px;
}
.flix{
  height:1%;

}
.rwp{
  box-shadow:3px 3px 8px black;
  background: #d0d2dc;
  padding: 0 40px;

}
.rnp{
  box-shadow:3px 3px 4px black;
  background: #d0d2dc;
  padding: 0 30px;
}
.rip{
  box-shadow:3px 3px 4px black;
  background: #d0d2dc;
  padding: 0 40px;
}
.rwp, .rnp,.rip{
  font-family: 'Architects Daughter', cursive;
  font-size: 30px;
  position:relative;
  top: 225px;
  border-radius:5px;
  
}
.fotter{
  background: rgb(173,173,179);
background: radial-gradient(circle, rgba(173,173,179,1) 35%, rgba(196,197,199,1) 47%, rgba(255,255,255,1) 100%);
  text-align:center;
  box-shadow:5px 5px 10px black;
  border-radius: 3px;
  position: relative;
  top: 450px;
  padding:auto;
  margin:auto;
  height: 20px;
  width: 150px;
  font-size: 16px;
 
}
.fetter {
  font-size: 16px;
  color: black;
font-family: cursive;
}
