html{
  scroll-behavior: smooth;
}
body {
  background: rgb(119,13,191);
background: linear-gradient(153deg, rgba(119,13,191,1) 7%, rgba(29,173,253,1) 50%, rgba(69,88,252,1) 72%);
background-size: 300%;
animation: 10s gradient ease infinite;
height: 300vh;



}

@keyframes gradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.monsite{
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  text-shadow: 1px 1px white;
}
.projets {
  font-family: 'Architects Daughter', cursive;
  font-size: 70px;
  text-shadow: 4px 4px black;
  color: white;
  line-height: 1;


}
.line3{
  background:black;
  height:1px;
  box-shadow:3px 3px 10px white;
}


.Line1{
  background: white;
   height: 1px;
   box-shadow:3px 3px 10px;
}
.Line2{
  background:white;
  height:1px;
  box-shadow:4px 4px 5px;
}
table {
  width: 93vw;
  margin: auto;
}

th {
  width: 33%;
  text-align: center;
}

.site {
  text-align: left;
}

.poem {
  text-align: right;
}
.main-table a {
color: white;
font-size: 28;
text-decoration: none;
font-family: 'Architects Daughter', cursive;
text-shadow: 1px 1px black;

}
.main-table a:hover {
  text-decoration: underline;
}
.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex1, .flex2 {
    flex: 1;
width: 100px;
height: 500px;
display: flex;
align-items: center;
justify-content: center;
}

.blue {

}

.green {


}

.point {
  height: 350px;
  transition: 0.55s;
  box-shadow: 13px 13px 10px black;
  position: relative;
  right: 0;
  bottom: 0;
}
.point:hover{
  position:relative;
  right: 20px;
  bottom: 20px;
}

.flex-box{
    margin-right: 20px;
}
.div3 {

}
