body {
  background: #9fa4c4;
  background: red;
}
h1{
  text-align: center;
}
.Line1{
  background: black;
   height: 2px;
   border: 0;
}

table {
  width: 93vw;
  margin: auto;
}

th {
  width: 33%;
  text-align: center;
}

.site {
  text-align: left;
}

.poem {
  text-align: right;
}
